<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuan.roleservice.mapper.RoleMapper">
    <select id="selectIdsByTenantId" resultType="java.lang.Long">
        SELECT id
        FROM role
        WHERE tenant_id = #{tenantId}
          AND is_delete = 0
    </select>
</mapper>
